body, html {
    margin: 0px 0px 0px 5px;
    padding: 0px;
    height: 100%;
    width: 99%;
}

#iac {
	text-align: center;
	font-family: "Times New Roman", Monaco, serif;
	font-size: 62px;
}
#title {
	float: center;
	text-align: center;
	font-family: "Times New Roman", Monaco, serif;
	font-size: 42px;
}
#map {
	height:450px;
	width:98.5%;
	float:center;
	border-style: solid;
}
#blank-space {
	height:2%;
	width:198%;
}
#pre-post-section{
	float:left;
	text-align: center;
	height:90%;
	width: 25%;
	border-style: solid;
}
#pre-reading{
	height:6%;
	width:49.5%;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-bottom: none;
	float:left;
	font-size:24px;
}
#post-reading{
    height:6%;
	width:49.5%;
	border-style: solid;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: none;
	float:left;
	font-size:24px;
}
#pre-button{
    height:4%;
	width:49.5%;
	border-style: solid;
	border-left: none;
	border-top: none;
	float:left;
}
#post-button{
	height:4%;
	width:49.5%;
	border-style: solid;
	border-left: none;
	border-top: none;
	border-right: none;
	float:left;
}
#pre-post{
	width:100%;
	height:92.5%;
	float:left;
}
#passage-section{
	float:left;
	text-align: center;
	height:90%;
	width: 48%;
	border-style: solid;
	border-right: none;
	border-left: none;
}
#passage-title{
    height:6%;
	width:100%;
	float:left;	
	font-size:24px;
}
#passage-button{
	height:4%;
	width:100%;
	float:left;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
}
#passage{
	width:100%;
	height:92.5%;
	float:left;
}
#passage-content span {
    text-decoration: underline;
    cursor: pointer;
}
#media-section{
	float:left;
	text-align: center;
	height:90%;
	width: 25%;
	border-style: solid
}
#media-title{
    height:6%;
	width:100%;
	float:left;	
	font-size:24px;
}
#media-button{
	height:4%;
	width:100%;
	float:left;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
}
#media-content{

}
#media-content img{
  resize: both;
  overflow: auto;
}
p.serif {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    line-height: 145%;
    padding-left: 8px;
	padding-right: 8px;
}
p.media {
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 145%;
    padding-left: 8px;
	padding-right: 8px;
	color: #757575;
}
.max {
    display:inline-block;
    position:relative;
    top:-2px;
    background:#333;
    color:#ccc;
    padding:2px;
    border-radius:3px;
    font-size:15px;
    font-weight:normal;
    margin-left:5px;
    cursor:pointer;
}

.maximize
{
    display:block;
    position:fixed;
    top:0px;
    left:0px;
    background:#ccc;
    width:100%;
    height:100%;
    margin:0px;
    z-index:999;
}

.close
{
    position:relative;
    margin:10px;
    right:10px;
    color:white;
    padding:2px;
    background:#DB2424;
    border-radius:3px;
}

.max
{
	height: 16px;
	width: 16px;
	background-image: url('img/max.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border: none;
	float: center;
}
#nextButton
{
	float: right;
}

#lastButton
{
	float: left;
}
#nextButtonBttm
{
	float: right;
}

#lastButtonBttm
{
	float: left;
}
#next-last-button-container
{
	border: solid;
	height: 3%;
	width: 98.5%;
	float: left;
}
nav{
	border-style: solid;
	width: 98.5%;
	height: 4%;
	font-size: 18px;
	text-decoration: none;
    cursor: pointer;
}
nav a{
	text-decoration: none;
	color: black;
}
  
  ul {
    padding: 0;
    margin: 0;
    background: #fff;
    float: left;
    z-index: 999;
  }
  
  li {
    float: left;
    display: inline;
    position: relative;
    width: 150px;
    list-style: none;
    z-index: 999;

  }
  
  ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    background: #ccc;
    display: none;
    z-index: 999;  
}
  
  ul ul ul {
    left: 100%;
    top: 0;
    background: #999;
    z-index: 999;
  }
  
  li:hover > ul {
    display: block;
    z-index: 999;
  }
    nav ul li {
  	text-align: center;
  }
  
  p {
    clear: left;
    padding-top: 1em;
  }
